p {
    font-size: 24px;
    text-align: center;

}
#dmg {
    color: red;
    text-align: center;
}
body {
 background-image: url(image/dmg.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
#cock {
    font-size: small;
    text-align: left;
    position: absolute;
    bottom: 5px;
    
}